<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of customers</title>
    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    <link crossorigin="anonymous" href=
            "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity=
                  "sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          rel="stylesheet">
    <script crossorigin="anonymous" integrity=
            "sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            src=
                    "https://code.jquery.com/jquery-3.4.1.slim.min.js">
    </script>
    <script crossorigin="anonymous"
            integrity=
                    "sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src=
                    "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">
    </script>
    <script crossorigin="anonymous"
            integrity=
                    "sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src=
                    "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/customers.js}" type="text/javascript"></script>

</head>
<body>
<header class="header">
    <a class="logo" th:href="@{/}">Online Store</a>
    <div class="switch">
        <input class="check-toggle check-toggle-round-flat" id="language-toggle" type="checkbox">
        <label for="language-toggle"></label>
        <a class="on" href="?lang=en" th:text="#{lang.en}"></a>
        <a class="off" href="?lang=uk_UA" th:text="#{lang.uk}"></a>
    </div>
    <nav class="nav-items">
        <a th:href="@{/}" th:text="#{home}"></a>
        <a th:href="@{/products_html}" th:text="#{products}"></a>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/subscriptions}" th:text="#{subscriptions}"></a>
        </div>
        <div sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/admin/customers_list}" th:text="#{customers}"></a>
        </div>
        <div sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/admin/admins_list}" th:text="#{admins}"></a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/profile}" th:text="#{profile}"></a>
        </div>
        <div sec:authorize="hasRole('BUYER')">
            <a th:href="@{/profile/orders}" th:text="#{orders}"></a>
        </div>
        <div sec:authorize="hasRole('BUYER')">
            <a th:href="@{/payments_html}" th:text="#{payments}"></a>
        </div>
        <div sec:authorize="hasRole('BUYER')">
            <a th:href="@{/profile/basket}" th:text="#{basket}"></a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}" th:text="#{logout}"></a>
        </div>
        <div sec:authorize="isAnonymous()">
            <a th:href="@{/login}" th:text="#{login}"></a>
        </div>
    </nav>
</header>
<main>
    <div th:if="${param.error_send}">
        <div class="alert alert-danger" th:text="#{wrongSend}"></div>
    </div>
    <div th:if="${param.error_admin}">
        <div class="alert alert-danger" th:text="#{wrongAdmin}"></div>
    </div>
    <div th:if="${param.error_delete}">
        <div class="alert alert-danger" th:text="#{wrongDelete}"></div>
    </div>
    <div th:if="${param.success_send}">
        <div class="alert alert-info" th:text="#{successSend}">
        </div>
    </div>
    <div th:if="${param.success_admin}">
        <div class="alert alert-info" th:text="#{successAdmin}">
        </div>
    </div>
    <div th:if="${param.success_delete}">
        <div class="alert alert-info" th:text="#{successDelete}">
        </div>
    </div>
    <div class="container my-2">
        <br><br>
        <h1 th:text="#{customerList}"></h1>
        <br><br>
        <table border="1" class="table table-condensed table-responsive-md" id="customersTable">
            <thead>
            <tr>
                <th style="width:10%"><a id="sortId" th:text="#{id}"></a></th>
                <th style="width:15%"><a th:text="#{image}"></a></th>
                <th style="width:10%"><a id="sortName" th:text="#{name}"></a></th>
                <th style="width:15%"><a id="sortSurname" th:text="#{surname}"></a></th>
                <th style="width:30%"><a id="sortEmail" th:text="#{email}"></a></th>
                <th style="width:20%"><a th:text="#{actions}"></a></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <ul class="pagination justify-content-center " style="margin:20px 0; cursor: pointer;">
    </ul>
</main>
</body>
</html>