<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href=
            "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity=
                  "sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          rel="stylesheet">
    <script crossorigin="anonymous" integrity=
            "sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            src=
                    "https://code.jquery.com/jquery-3.4.1.slim.min.js">
    </script>
    <script crossorigin="anonymous"
            integrity=
                    "sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src=
                    "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">
    </script>
    <script crossorigin="anonymous"
            integrity=
                    "sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src=
                    "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/order.js}" type="text/javascript"></script>
</head>
<body>
<header class="header">
    <a class="logo" th:href="@{/}">Online Store</a>
    <div class="switch">
        <input class="check-toggle check-toggle-round-flat" id="language-toggle" type="checkbox">
        <label for="language-toggle"></label>
        <a class="on" href="?lang=en" th:text="#{lang.en}"></a>
        <a class="off" href="?lang=uk_UA" th:text="#{lang.uk}"></a>
    </div>
    <nav class="nav-items">
        <a th:href="@{/}" th:text="#{home}"></a>
        <a th:href="@{/products_html}" th:text="#{products}"></a>
        <div sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/admin/customers_list}" th:text="#{customers}"></a>
        </div>
        <div sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/admin/admins_list}" th:text="#{admins}"></a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/profile}" th:text="#{profile}"></a>
        </div>
        <div sec:authorize="hasRole('BUYER')">
            <a th:href="@{/profile/orders}" th:text="#{orders}"></a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}" th:text="#{logout}"></a>
        </div>
        <div sec:authorize="isAnonymous()">
            <a th:href="@{/login}" th:text="#{login}"></a>
        </div>
    </nav>
</header>
<main>
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row w-100">
                <div class="col-lg-12 col-md-12 col-12">
                    <h3 class="display-5 mb-2 text-center" th:text="#{yourOrder}"></h3>
                    <br><br>
                    <input id="customerId" th:value="${customerId}" type="hidden">
                    <input id="orderId" th:value="${orderId}" type="hidden">
                    <div class="float-right col-md-2">
                        <a id="editOrderButton"><input
                                class="profile-edit-btn" name="btnAddMore" th:value="#{edit}"
                                type="submit"/></a>
                        <br><br>
                        <a id="deleteOrderButton"><input
                                class="profile-delete-btn" name="btnAddMore" th:value="#{delete}"
                                type="submit"/></a>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label><b th:text="#{date}"></b></label>
                        </div>
                        <div class="col-md-3">
                            <p id="orderDate">
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-md-2">
                            <label><b th:text="#{delivery}"></b></label>
                        </div>
                        <div class="col-md-3">
                            <p id="orderDeliveryAddress">
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-md-2">
                            <label><b th:text="#{description}"></b></label>
                        </div>
                        <div class="col-md-3">
                            <p id="orderDescription">
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-md-2">
                            <span><b th:text="#{status}"></b></span>
                        </div>
                        <div class="col-md-3">
                            <p id="orderStatus">
                        </div>
                    </div>
                    <br><br>
                    <table class="table table-condensed table-responsive" id="productsTable">
                        <thead>
                        <tr>
                            <th style="width:60%" th:text="#{product}"></th>
                            <th style="width:12%" th:text="#{price}"></th>
                            <th style="width:10%" th:text="#{count}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <br>
                    <div class="float-right text-right">
                        <h5 th:text="#{total}"></h5>
                        <h4 id="orderPrice"></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>