<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap">
    <style type="text/css">
        body {
            background-color: #eee
        }

        .product {
            padding: 10px;
            background-color: #fff;
            position: relative
        }

        .about h5 {
            margin-bottom: -3px
        }

        .about h6 {
            color: #3e8491
        }

        .about span {
            font-size: 10px
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <div class="row d-flex justify-content-center g-1">
        <div class="col-md-4">
            <div class="product text-center"><img src="https://i.imgur.com/dzyiJS2.jpg" width="90">
                <div class="about text-left px-3">
                    <h5>Standron Chair</h5>
                    <h6>$230</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product text-center"><img src="https://i.imgur.com/7BwBYPB.jpg" width="90">
                <div class="about text-left px-3">
                    <h5>Trodon ChairTrodon Chair</h5>
                    <h6>$220</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product text-center"><img src="https://i.imgur.com/HjkIPFZ.jpg" width="90">
                <div class="about text-left px-3">
                    <h5>Dura Chair</h5>
                    <h6>$299</h6>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>