<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Online Store</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
<body>
<header class="header">

    <a class="logo" th:href="@{/}">Online Store</a>
    <div class="switch">
        <input class="check-toggle check-toggle-round-flat" id="language-toggle" type="checkbox">
        <label for="language-toggle"></label>
        <a class="on" href="?lang=en" th:text="#{lang.en}"></a>
        <a class="off" href="?lang=uk_UA" th:text="#{lang.uk}"></a>
    </div>

    <nav class="nav-items">
        <a th:href="@{/}" th:text="#{home}"></a>
        <a th:href="@{/products_html}" th:text="#{products}"></a>
        <div sec:authorize="hasRole('BUYER')">
            <a th:href="@{/subscriptions_html}" th:text="#{subscriptions}"></a>
        </div>
        <div sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/admin/customers_list}" th:text="#{customers}"></a>
        </div>
        <div sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/admin/admins_list}" th:text="#{admins}"></a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/profile}" th:text="#{profile}"></a>
        </div>
        <div sec:authorize="hasRole('BUYER')">
            <a th:href="@{/profile/orders}" th:text="#{orders}"></a>
        </div>
        <div sec:authorize="hasRole('BUYER')">
            <a th:href="@{/profile/basket}" th:text="#{basket}"></a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}" th:text="#{logout}"></a>
        </div>
        <div sec:authorize="isAnonymous()">
            <a th:href="@{/login}" th:text="#{login}"></a>
        </div>
    </nav>
</header>
<main>
    <br><br><br>
    <stripe-pricing-table pricing-table-id="prctbl_1NVE3WLBCEZDVIiA0YRp0VON"
                          publishable-key="pk_test_51NOeNNLBCEZDVIiACj4ddHdNmdhzzuAI6jTFZQBpwR90rz8FAc09zL91ABN7stqePEeWuJKgEPx6fJa33O6otzM8003Z13K264">
    </stripe-pricing-table>
</main>
</body>
</html>